---
// This will be the landing page for the website
import Layout from '../layouts/Layout.astro'; // import Layout
---

<Layout title="Welcome to Astro Starter">
    <main class="">
        Hello World

  <button class="btn">Hello daisyUI</button>  
    </main>
</Layout>

