
---
import '@/styles/globals.css';
const {frontmatter} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="NF" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="bg-gray-950 text-white">
		<main class="flex w-full justify-center py-5">
	  <div class="w-[700px] prose prose-invert">
		<slot />
	  </div>
		</main>
	</body>
</html>
